{{define "content"}}
<div class="content-col">
{{if .TagName}}
<h1 class="page-title"><span class="h"></span>Tag: {{.TagName}}</h1>
{{if .TagPages}}
<ul>
	{{range .TagPages}}
	<li><a href="/{{.Slug}}">{{.Title}}</a></li>
	{{end}}
</ul>
{{else}}
<p>No pages with this tag.</p>
{{end}}
{{else}}
<h1 class="page-title"><span class="h"></span>Tags</h1>
{{if .AllTags}}
<ul class="tag-list">
	{{range .AllTags}}
	<li><a href="/_/tags/{{.Slug}}">{{.Tag}}</a> ({{.Count}})</li>
	{{end}}
</ul>
{{else}}
<p>No tags yet.</p>
{{end}}
{{end}}
</div>
{{end}}
