{{define "content"}}
<div class="login-card">
	<div class="login-intro">
		hold my docs (hmd) {{.Version}} &middot; homelab wiki
		{{if .RemoteHost}}<br>git remote: {{.RemoteHost}}{{end}}
	</div>
	{{if .Error}}
		<div class="error">{{.Error}}</div>
	{{end}}
	{{if .OIDCLocalLogin}}
	<form method="POST" action="/_/login" class="login-form">{{template "csrf" .}}
		{{if .OAuthContinue}}<input type="hidden" name="oauth_continue" value="{{.OAuthContinue}}">{{end}}
		<div class="edit-field">
			<label for="username">login:</label>
			<input type="text" id="username" name="username" required autofocus>
		</div>
		<div class="edit-field">
			<label for="password">password:</label>
			<input type="password" id="password" name="password" required>
		</div>
		<div class="edit-field">
			<label for="remember"><input type="checkbox" id="remember" name="remember" value="1"> remember me</label>
		</div>
		<button type="submit">login &crarr;</button>
	</form>
	{{end}}
	{{if .OIDCEnabled}}
		<div class="login-form">
			<a href="/_/auth/oidc/login{{if .OAuthContinue}}?continue={{.OAuthContinue}}{{end}}"><button type="button">{{if .OIDCIcon}}<img class="sso-icon" src="/_/auth/oidc/icon" alt="">{{end}}{{.OIDCButtonText}}</button></a>
		</div>
	{{end}}
</div>
{{end}}
